.btn {
    position: relative;
    display: inline-block;
    width: 7rem;
    height: 2.5rem;
    padding: .25em .5em;
    margin: 0.5rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: white;
    background-color: #004d4d;
    cursor: pointer;
    transition: .25s;
}

.btn:hover{
    border-color:rgb(71, 163, 255);
    background-color:rgb(0, 33, 66);
}